<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zzti.dao.TeacherCommentMapper">
  <resultMap id="BaseResultMap" type="edu.zzti.bean.TeacherComment">
    <id column="tc_id" jdbcType="INTEGER" property="tcId" />
    <result column="tc_tno" jdbcType="INTEGER" property="tcTno" />
    <result column="tc_tps_id" jdbcType="INTEGER" property="tcTpsId" />
    <result column="tc_sc_id" jdbcType="INTEGER" property="tcScId" />
    <result column="tc_content" jdbcType="VARCHAR" property="tcContent" />
    <result column="tc_time" jdbcType="TIMESTAMP" property="tcTime" />
    <result column="tc_all" jdbcType="INTEGER" property="tcAll" />
  </resultMap>
  <sql id="Base_Column_List">
    tc_id, tc_tno, tc_tps_id, tc_sc_id, tc_content, tc_time, tc_all
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_teachercomment
    where tc_id = #{tcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_teachercomment
    where tc_id = #{tcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.zzti.bean.TeacherComment">
    insert into t_teachercomment (tc_id, tc_tno, tc_tps_id, 
      tc_sc_id, tc_content, tc_time, 
      tc_all)
    values (#{tcId,jdbcType=INTEGER}, #{tcTno,jdbcType=INTEGER}, #{tcTpsId,jdbcType=INTEGER}, 
      #{tcScId,jdbcType=INTEGER}, #{tcContent,jdbcType=VARCHAR}, #{tcTime,jdbcType=TIMESTAMP}, 
      #{tcAll,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.zzti.bean.TeacherComment">
    insert into t_teachercomment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tcId != null">
        tc_id,
      </if>
      <if test="tcTno != null">
        tc_tno,
      </if>
      <if test="tcTpsId != null">
        tc_tps_id,
      </if>
      <if test="tcScId != null">
        tc_sc_id,
      </if>
      <if test="tcContent != null">
        tc_content,
      </if>
      <if test="tcTime != null">
        tc_time,
      </if>
      <if test="tcAll != null">
        tc_all,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tcId != null">
        #{tcId,jdbcType=INTEGER},
      </if>
      <if test="tcTno != null">
        #{tcTno,jdbcType=INTEGER},
      </if>
      <if test="tcTpsId != null">
        #{tcTpsId,jdbcType=INTEGER},
      </if>
      <if test="tcScId != null">
        #{tcScId,jdbcType=INTEGER},
      </if>
      <if test="tcContent != null">
        #{tcContent,jdbcType=VARCHAR},
      </if>
      <if test="tcTime != null">
        #{tcTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tcAll != null">
        #{tcAll,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zzti.bean.TeacherComment">
    update t_teachercomment
    <set>
      <if test="tcTno != null">
        tc_tno = #{tcTno,jdbcType=INTEGER},
      </if>
      <if test="tcTpsId != null">
        tc_tps_id = #{tcTpsId,jdbcType=INTEGER},
      </if>
      <if test="tcScId != null">
        tc_sc_id = #{tcScId,jdbcType=INTEGER},
      </if>
      <if test="tcContent != null">
        tc_content = #{tcContent,jdbcType=VARCHAR},
      </if>
      <if test="tcTime != null">
        tc_time = #{tcTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tcAll != null">
        tc_all = #{tcAll,jdbcType=INTEGER},
      </if>
    </set>
    where tc_id = #{tcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zzti.bean.TeacherComment">
    update t_teachercomment
    set tc_tno = #{tcTno,jdbcType=INTEGER},
      tc_tps_id = #{tcTpsId,jdbcType=INTEGER},
      tc_sc_id = #{tcScId,jdbcType=INTEGER},
      tc_content = #{tcContent,jdbcType=VARCHAR},
      tc_time = #{tcTime,jdbcType=TIMESTAMP},
      tc_all = #{tcAll,jdbcType=INTEGER}
    where tc_id = #{tcId,jdbcType=INTEGER}
  </update>
</mapper>