<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zzti.dao.WeekDocumentMapper">
  <resultMap id="BaseResultMap" type="edu.zzti.bean.WeekDocument">
    <id column="d_id" jdbcType="INTEGER" property="dId" />
    <result column="tps_id" jdbcType="INTEGER" property="tpsId" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="week" jdbcType="VARCHAR" property="week" />
    <result column="documentname" jdbcType="VARCHAR" property="documentname" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="annotation" jdbcType="VARCHAR" property="annotation" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    d_id, tps_id, category, week, documentname, remark, annotation
  </sql>
  <select id="selectByExample" parameterType="edu.zzti.bean.WeekDocumentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_weekdocument
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_weekdocument
    where d_id = #{dId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_weekdocument
    where d_id = #{dId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="edu.zzti.bean.WeekDocumentExample">
    delete from t_weekdocument
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.zzti.bean.WeekDocument">
    insert into t_weekdocument (d_id, tps_id, category, 
      week, documentname, remark, 
      annotation)
    values (#{dId,jdbcType=INTEGER}, #{tpsId,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, 
      #{week,jdbcType=VARCHAR}, #{documentname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{annotation,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.zzti.bean.WeekDocument">
    insert into t_weekdocument
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        d_id,
      </if>
      <if test="tpsId != null">
        tps_id,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="week != null">
        week,
      </if>
      <if test="documentname != null">
        documentname,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="annotation != null">
        annotation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="tpsId != null">
        #{tpsId,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="week != null">
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="documentname != null">
        #{documentname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="annotation != null">
        #{annotation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.zzti.bean.WeekDocumentExample" resultType="java.lang.Long">
    select count(*) from t_weekdocument
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_weekdocument
    <set>
      <if test="record.dId != null">
        d_id = #{record.dId,jdbcType=INTEGER},
      </if>
      <if test="record.tpsId != null">
        tps_id = #{record.tpsId,jdbcType=INTEGER},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.week != null">
        week = #{record.week,jdbcType=VARCHAR},
      </if>
      <if test="record.documentname != null">
        documentname = #{record.documentname,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.annotation != null">
        annotation = #{record.annotation,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_weekdocument
    set d_id = #{record.dId,jdbcType=INTEGER},
      tps_id = #{record.tpsId,jdbcType=INTEGER},
      category = #{record.category,jdbcType=VARCHAR},
      week = #{record.week,jdbcType=VARCHAR},
      documentname = #{record.documentname,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      annotation = #{record.annotation,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zzti.bean.WeekDocument">
    update t_weekdocument
    <set>
      <if test="tpsId != null">
        tps_id = #{tpsId,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="week != null">
        week = #{week,jdbcType=VARCHAR},
      </if>
      <if test="documentname != null">
        documentname = #{documentname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="annotation != null">
        annotation = #{annotation,jdbcType=VARCHAR},
      </if>
    </set>
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zzti.bean.WeekDocument">
    update t_weekdocument
    set tps_id = #{tpsId,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      week = #{week,jdbcType=VARCHAR},
      documentname = #{documentname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      annotation = #{annotation,jdbcType=VARCHAR}
    where d_id = #{dId,jdbcType=INTEGER}
  </update>








  <insert id="addWeekDocumentSelective" parameterType="edu.zzti.bean.WeekDocument">
    insert into t_weekdocument
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        d_id,
      </if>
      <if test="tpsId != null">
        tps_id,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="week != null">
        week,
      </if>
      <if test="documentname != null">
        documentname,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="annotation != null">
        annotation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="tpsId != null">
        #{tpsId,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="week != null">
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="documentname != null">
        #{documentname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="annotation != null">
        #{annotation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


<select id="findByCateory" parameterType="map" resultMap="BaseResultMap">
        select * from t_weekdocument where  tps_id=#{tpsId,jdbcType=INTEGER} and category=#{category,jdbcType=VARCHAR};
 </select>









</mapper>