<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zzti.dao.WeekDocumentMapper">
  <resultMap id="BaseResultMap" type="edu.zzti.bean.WeekDocument">
    <id column="d_id" jdbcType="INTEGER" property="dId" />
    <result column="tps_id" jdbcType="INTEGER" property="tpsId" />
    <result column="d_t_id" jdbcType="INTEGER" property="dTId" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="week" jdbcType="VARCHAR" property="week" />
    <result column="documentname" jdbcType="VARCHAR" property="documentname" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="annotation" jdbcType="VARCHAR" property="annotation" />
    <result column="wk_time" jdbcType="TIMESTAMP" property="wkTime" />
  </resultMap>

  <!-- xwq开始 -->
  <resultMap id="BaseResultMapWith" type="edu.zzti.bean.WeekDocument">
    <id column="d_id" jdbcType="INTEGER" property="dId" />
    <result column="tps_id" jdbcType="INTEGER" property="tpsId" />
    <result column="d_t_id" jdbcType="INTEGER" property="dTId" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="week" jdbcType="VARCHAR" property="week" />
    <result column="documentname" jdbcType="VARCHAR" property="documentname" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="annotation" jdbcType="VARCHAR" property="annotation" />
    <result column="wk_time" jdbcType="TIMESTAMP" property="wkTime" />
    <association property="topicSelect" javaType="edu.zzti.bean.TopicSelect">
      <id column="tsId" jdbcType="INTEGER" property="id" />
      <result column="s_sno" jdbcType="VARCHAR" property="sSno" />
      <result column="t_tno" jdbcType="INTEGER" property="tTno" />
      <result column="tp_id" jdbcType="INTEGER" property="tpId" />
      <result column="tsStatus" jdbcType="VARCHAR" property="status" />
    </association>
    <!-- 关联字段封装 -->
    <association property="student" javaType="edu.zzti.bean.Student">
      <id column="sno" jdbcType="VARCHAR" property="sno" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="sName" jdbcType="VARCHAR" property="name" />
      <result column="sex" jdbcType="VARCHAR" property="sex" />
      <result column="tel" jdbcType="VARCHAR" property="tel" />
      <result column="email" jdbcType="VARCHAR" property="email" />
      <result column="sDepartment" jdbcType="VARCHAR" property="department" />
      <result column="classes" jdbcType="VARCHAR" property="classes" />
      <result column="sStatus" jdbcType="INTEGER" property="status" />
    </association>
    <association property="topic" javaType="edu.zzti.bean.Topic">
      <id column="tpId" jdbcType="INTEGER" property="id" />
      <result column="tpName" jdbcType="VARCHAR" property="name" />
      <result column="contents" jdbcType="VARCHAR" property="contents" />
      <result column="tno" jdbcType="INTEGER" property="tno" />
      <result column="type" jdbcType="VARCHAR" property="type" />
      <result column="source" jdbcType="VARCHAR" property="source" />
      <result column="difficulty" jdbcType="VARCHAR" property="difficulty" />
      <result column="support" jdbcType="VARCHAR" property="support" />
      <result column="tpDepartment" jdbcType="VARCHAR" property="department" />
      <result column="tpStatus" jdbcType="INTEGER" property="status" />
      <result column="num" jdbcType="INTEGER" property="num" />
    </association>
  </resultMap>

  <resultMap id="BaseResultMapWithTopic" type="edu.zzti.bean.WeekDocument">
    <id column="d_id" jdbcType="INTEGER" property="dId" />
    <result column="tps_id" jdbcType="INTEGER" property="tpsId" />
    <result column="d_t_id" jdbcType="INTEGER" property="dTId" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="week" jdbcType="VARCHAR" property="week" />
    <result column="documentname" jdbcType="VARCHAR" property="documentname" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="annotation" jdbcType="VARCHAR" property="annotation" />
    <result column="wk_time" jdbcType="TIMESTAMP" property="wkTime" />
    <association property="topic" javaType="edu.zzti.bean.Topic">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="contents" jdbcType="VARCHAR" property="contents" />
      <result column="tno" jdbcType="INTEGER" property="tno" />
      <result column="type" jdbcType="VARCHAR" property="type" />
      <result column="source" jdbcType="VARCHAR" property="source" />
      <result column="difficulty" jdbcType="VARCHAR" property="difficulty" />
      <result column="support" jdbcType="VARCHAR" property="support" />
      <result column="department" jdbcType="VARCHAR" property="department" />
      <result column="status" jdbcType="INTEGER" property="status" />
      <result column="num" jdbcType="INTEGER" property="num" />
      <result column="select_num" jdbcType="INTEGER" property="selectNum" />
    </association>
  </resultMap>

  <!-- xwq结束 -->
  <sql id="Base_Column_List">
    d_id, tps_id, d_t_id, category, week, documentname, remark, annotation, wk_time
  </sql>

  <!-- xwq开始 -->
  <select id="findTopic" parameterType="map" resultMap="BaseResultMapWithTopic">
    select *
    from t_weekdocument,t_topic
    where t_weekdocument.d_t_id = t_topic.id
    and t_topic.id	= #{dTId,jdbcType=VARCHAR}
    and category = #{category,jdbcType=VARCHAR}
  </select>
  <select id="findTopicBy" parameterType="map" resultMap="BaseResultMapWithTopic">
    select *
    from t_weekdocument,t_topic
    where t_weekdocument.d_t_id = t_topic.id
    and t_topic.tno	= #{tno,jdbcType=VARCHAR}
    and category = #{category,jdbcType=VARCHAR}
  </select>
  <select id="findBy" parameterType="map" resultMap="BaseResultMapWith">
    select *,t_topicselect.id tsId,t_topicselect.status tsStatus,t_student.name sName,t_student.department sDepartment,t_student.status sStatus,t_topic.id tpId,t_topic.name tpName,t_topic.department tpDepartment,t_topic.status tpStatus
    from t_weekdocument,t_topicselect,t_student,t_topic
    where t_weekdocument.tps_id = t_topicselect.id
    and t_topicselect.s_sno = t_student.sno
    and t_topicselect.tp_id = t_topic.id
    and t_topicselect.status = 1
    and t_topicselect.t_tno = #{tno,jdbcType=INTEGER}
    and category = #{category,jdbcType=VARCHAR}
  </select>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMapWith">
    select *,t_topicselect.id tsId,t_topicselect.status tsStatus,t_student.name sName,t_student.department sDepartment,t_student.status sStatus,t_topic.id tpId,t_topic.name tpName,t_topic.department tpDepartment,t_topic.status tpStatus
    from t_weekdocument,t_topicselect,t_student,t_topic
    where t_weekdocument.tps_id = t_topicselect.id
    and t_topicselect.s_sno = t_student.sno
    and t_topicselect.tp_id = t_topic.id
    and t_topicselect.status = 1
    and d_id = #{dId,jdbcType=INTEGER}
  </select>

  <!-- xwq结束 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_weekdocument
    where d_id = #{dId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_weekdocument
    where d_id = #{dId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.zzti.bean.WeekDocument">
    insert into t_weekdocument (d_id, tps_id, d_t_id, 
      category, week, documentname, 
      remark, annotation, wk_time
      )
    values (#{dId,jdbcType=INTEGER}, #{tpsId,jdbcType=INTEGER}, #{dTId,jdbcType=INTEGER}, 
      #{category,jdbcType=VARCHAR}, #{week,jdbcType=VARCHAR}, #{documentname,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{annotation,jdbcType=VARCHAR}, #{wkTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.zzti.bean.WeekDocument">
    insert into t_weekdocument
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        d_id,
      </if>
      <if test="tpsId != null">
        tps_id,
      </if>
      <if test="dTId != null">
        d_t_id,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="week != null">
        week,
      </if>
      <if test="documentname != null">
        documentname,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="annotation != null">
        annotation,
      </if>
      <if test="wkTime != null">
        wk_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="tpsId != null">
        #{tpsId,jdbcType=INTEGER},
      </if>
      <if test="dTId != null">
        #{dTId,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="week != null">
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="documentname != null">
        #{documentname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="annotation != null">
        #{annotation,jdbcType=VARCHAR},
      </if>
      <if test="wkTime != null">
        #{wkTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zzti.bean.WeekDocument">
    update t_weekdocument
    <set>
      <if test="tpsId != null">
        tps_id = #{tpsId,jdbcType=INTEGER},
      </if>
      <if test="dTId != null">
        d_t_id = #{dTId,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="week != null">
        week = #{week,jdbcType=VARCHAR},
      </if>
      <if test="documentname != null">
        documentname = #{documentname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="annotation != null">
        annotation = #{annotation,jdbcType=VARCHAR},
      </if>
      <if test="wkTime != null">
        wk_time = #{wkTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zzti.bean.WeekDocument">
    update t_weekdocument
    set tps_id = #{tpsId,jdbcType=INTEGER},
      d_t_id = #{dTId,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      week = #{week,jdbcType=VARCHAR},
      documentname = #{documentname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      annotation = #{annotation,jdbcType=VARCHAR},
      wk_time = #{wkTime,jdbcType=TIMESTAMP}
    where d_id = #{dId,jdbcType=INTEGER}
  </update>

  <insert id="addWeekDocumentSelective" parameterType="edu.zzti.bean.WeekDocument">
    insert into t_weekdocument
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        d_id,
      </if>
      <if test="tpsId != null">
        tps_id,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="week != null">
        week,
      </if>
      <if test="documentname != null">
        documentname,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="annotation != null">
        annotation,
      </if>
      <if test="wkTime != null">
        wk_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="tpsId != null">
        #{tpsId,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="week != null">
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="documentname != null">
        #{documentname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="annotation != null">
        #{annotation,jdbcType=VARCHAR},
      </if>
      <if test="wkTime != null">
        #{wkTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="findByCategory" parameterType="map" resultMap="BaseResultMap">
        select * from t_weekdocument where  tps_id=#{tpsId,jdbcType=INTEGER} and category=#{category,jdbcType=VARCHAR};
 </select>

</mapper>