<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zzti.dao.WeekDocumentMapper">
  <resultMap id="BaseResultMap" type="edu.zzti.bean.WeekDocument">
    <id column="d_id" jdbcType="INTEGER" property="dId" />
    <result column="tps_id" jdbcType="INTEGER" property="tpsId" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="week" jdbcType="VARCHAR" property="week" />
    <result column="documentname" jdbcType="VARCHAR" property="documentname" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="annotation" jdbcType="VARCHAR" property="annotation" />
    <result column="wk_time" jdbcType="TIMESTAMP" property="wkTime" javaType="java.sql.Timestamp"/>
  </resultMap>
  <sql id="Base_Column_List">
    d_id, tps_id, category, week, documentname, remark, annotation, wk_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_weekdocument
    where d_id = #{dId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_weekdocument
    where d_id = #{dId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.zzti.bean.WeekDocument">
    insert into t_weekdocument (d_id, tps_id, category, 
      week, documentname, remark, 
      annotation, wk_time)
    values (#{dId,jdbcType=INTEGER}, #{tpsId,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, 
      #{week,jdbcType=VARCHAR}, #{documentname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{annotation,jdbcType=VARCHAR}, #{wkTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="edu.zzti.bean.WeekDocument">
    insert into t_weekdocument
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        d_id,
      </if>
      <if test="tpsId != null">
        tps_id,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="week != null">
        week,
      </if>
      <if test="documentname != null">
        documentname,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="annotation != null">
        annotation,
      </if>
      <if test="wkTime != null">
        wk_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="tpsId != null">
        #{tpsId,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="week != null">
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="documentname != null">
        #{documentname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="annotation != null">
        #{annotation,jdbcType=VARCHAR},
      </if>
      <if test="wkTime != null">
        #{wkTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zzti.bean.WeekDocument">
    update t_weekdocument
    <set>
      <if test="tpsId != null">
        tps_id = #{tpsId,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="week != null">
        week = #{week,jdbcType=VARCHAR},
      </if>
      <if test="documentname != null">
        documentname = #{documentname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="annotation != null">
        annotation = #{annotation,jdbcType=VARCHAR},
      </if>
      <if test="wkTime != null">
        wk_time = #{wkTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zzti.bean.WeekDocument">
    update t_weekdocument
    set tps_id = #{tpsId,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      week = #{week,jdbcType=VARCHAR},
      documentname = #{documentname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      annotation = #{annotation,jdbcType=VARCHAR},
      wk_time = #{wkTime,jdbcType=TIMESTAMP}
    where d_id = #{dId,jdbcType=INTEGER}
  </update>









  <insert id="addWeekDocumentSelective" parameterType="edu.zzti.bean.WeekDocument">
    insert into t_weekdocument
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        d_id,
      </if>
      <if test="tpsId != null">
        tps_id,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="week != null">
        week,
      </if>
      <if test="documentname != null">
        documentname,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="annotation != null">
        annotation,
      </if>
      <if test="wkTime != null">
        wk_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="tpsId != null">
        #{tpsId,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="week != null">
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="documentname != null">
        #{documentname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="annotation != null">
        #{annotation,jdbcType=VARCHAR},
      </if>
      <if test="wkTime != null">
        #{wkTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="findByCateory" parameterType="map" resultMap="BaseResultMap">
        select * from t_weekdocument where  tps_id=#{tpsId,jdbcType=INTEGER} and category=#{category,jdbcType=VARCHAR};
 </select>

</mapper>